<div class="mc__id">{{match.id}}</div>

<button type="button"
        class="mc__row {{if topActive 'is-winner'}} {{if topLost 'is-loser'}}"
        title={{topTeam.name}}
        onmouseenter={{action "hover" topTeam.fifaCode}}
        onmouseleave={{action "clearHover"}}
        onclick={{action "pick" "TOP"}}
        aria-disabled={{topDisabled}}>
    <span class="mc__flag">
        {{#if topTeam.flag}}
            <img src={{topTeam.flag}} alt="">
        {{else}}
            <span class="mc__flag--empty"></span>
        {{/if}}
    </span>
    <span class="mc__name">
        {{#if topTeam.name}}
            {{topTeam.name}}
        {{else}}
            <span class="mc__placeholder">{{topPlaceholder}}</span>
        {{/if}}
    </span>
    {{#if topActive}}<span class="mc__check" aria-hidden="true">✓</span>{{/if}}
</button>

<button type="button"
        class="mc__row {{if botActive 'is-winner'}} {{if botLost 'is-loser'}}"
        title={{botTeam.name}}
        onmouseenter={{action "hover" botTeam.fifaCode}}
        onmouseleave={{action "clearHover"}}
        onclick={{action "pick" "BOT"}}
        aria-disabled={{botDisabled}}>
    <span class="mc__flag">
        {{#if botTeam.flag}}
            <img src={{botTeam.flag}} alt="">
        {{else}}
            <span class="mc__flag--empty"></span>
        {{/if}}
    </span>
    <span class="mc__name">
        {{#if botTeam.name}}
            {{botTeam.name}}
        {{else}}
            <span class="mc__placeholder">{{botPlaceholder}}</span>
        {{/if}}
    </span>
    {{#if botActive}}<span class="mc__check" aria-hidden="true">✓</span>{{/if}}
</button>
