<div class="wc-countdown__label">{{t 'countdown.label'}}</div>
<div class="wc-countdown__grid">
    <div class="wc-countdown__unit">
        <span class="wc-countdown__num">{{days}}</span>
        <span class="wc-countdown__unit-label">{{t 'countdown.days'}}</span>
    </div>
    <span class="wc-countdown__sep">:</span>
    <div class="wc-countdown__unit">
        <span class="wc-countdown__num">{{hours}}</span>
        <span class="wc-countdown__unit-label">{{t 'countdown.hours'}}</span>
    </div>
    <span class="wc-countdown__sep">:</span>
    <div class="wc-countdown__unit">
        <span class="wc-countdown__num">{{mins}}</span>
        <span class="wc-countdown__unit-label">{{t 'countdown.mins'}}</span>
    </div>
    <span class="wc-countdown__sep">:</span>
    <div class="wc-countdown__unit">
        <span class="wc-countdown__num">{{secs}}</span>
        <span class="wc-countdown__unit-label">{{t 'countdown.secs'}}</span>
    </div>
</div>
<div class="wc-countdown__opener">
    <div class="wc-countdown__matchup">{{t 'countdown.opener.teams'}}</div>
    <div class="wc-countdown__place">{{t 'countdown.opener.place'}}</div>
</div>
