<section class="wc-page-head">
    <div>
        <h1>{{t 'groups.title'}}</h1>
        <p>{{t 'groups.subtitle'}}</p>
    </div>
    <button type="button" class="wc-btn wc-btn--ghost" onclick={{action "refresh"}}>{{t 'action.refresh'}}</button>
</section>

<div class="wc-groups">
    {{#each model.groups as |group|}}
        <article class="wc-group">
            <header class="wc-group__head">
                <span class="wc-group__badge">{{t 'group.prefix'}} {{group.letter}}</span>
                <span class="wc-group__hint">{{t 'groups.hint.top2'}}</span>
            </header>
            <table class="wc-table">
                <thead>
                    <tr>
                        <th class="wc-table__pos">{{t 'table.pos'}}</th>
                        <th class="wc-table__team">{{t 'table.team'}}</th>
                        <th><abbr title={{t 'table.title.mp'}}>{{t 'table.mp'}}</abbr></th>
                        <th><abbr title={{t 'table.title.w'}}>{{t 'table.w'}}</abbr></th>
                        <th><abbr title={{t 'table.title.d'}}>{{t 'table.d'}}</abbr></th>
                        <th><abbr title={{t 'table.title.l'}}>{{t 'table.l'}}</abbr></th>
                        <th><abbr title={{t 'table.title.gd'}}>{{t 'table.gd'}}</abbr></th>
                        <th><abbr title={{t 'table.title.pts'}}>{{t 'table.pts'}}</abbr></th>
                    </tr>
                </thead>
                <tbody>
                    {{#each group.teams as |team index|}}
                        <tr>
                            <td class="wc-table__pos">{{inc index}}</td>
                            <td class="wc-table__team">
                                {{#if team.fifaCode}}
                                    {{#link-to 'team' team.fifaCode class='wc-table__team-link'}}
                                        <img src={{team.flag}} alt="">
                                        <span class="wc-table__team-name">{{team.name}}</span>
                                    {{/link-to}}
                                {{else}}
                                    <img src={{team.flag}} alt="">
                                    <span class="wc-table__team-name">{{team.name}}</span>
                                {{/if}}
                            </td>
                            <td>{{team.mp}}</td>
                            <td>{{team.w}}</td>
                            <td>{{team.d}}</td>
                            <td>{{team.l}}</td>
                            <td>{{team.gd}}</td>
                            <td class="wc-table__pts">{{team.pts}}</td>
                        </tr>
                    {{/each}}
                </tbody>
            </table>
            <div class="wc-group__legend">{{t 'groups.legend.r32'}}</div>
        </article>
    {{/each}}
</div>
