<section class="wc-page-head">
    <div>
        <h1>{{t 'news.title'}}</h1>
        <p>{{t 'news.subtitle'}}</p>
    </div>
</section>

<ul class="wc-news">
    {{#each feeds as |feed|}}
        <li class="wc-news__item">
            <span class="wc-news__source">{{feed.source}}</span>
            <a class="wc-news__title" href={{feed.url}} target="_blank" rel="noopener">{{feed.title}}</a>
            <p class="wc-news__summary">{{feed.summary}}</p>
        </li>
    {{/each}}
</ul>
