<section class="wc-page-head">
    <div>
        <h1>Match schedule</h1>
        <p>All 104 fixtures in kickoff order. Final scores appear as soon as each match finishes.</p>
    </div>
    <button type="button" class="wc-btn wc-btn--ghost" onclick={{action "refresh"}}>Refresh</button>
</section>

<div class="wc-schedule">
    {{#each model.matchesByDate as |day|}}
        <section class="wc-day">
            <h2 class="wc-day__date">{{day.date}}</h2>
            <ul class="wc-day__matches">
                {{#each day.matches as |match|}}
                    <li class="wc-match {{if match.played 'is-played'}}">
                        <div class="wc-match__meta">
                            <span class="wc-match__group">{{match.group}}</span>
                            <span class="wc-match__time">{{match.time}}</span>
                            <span class="wc-match__ground">{{match.ground}}</span>
                        </div>
                        <div class="wc-match__teams">
                            <div class="wc-match__team">
                                {{#if match.team1Flag}}<img src={{match.team1Flag}} alt="">{{/if}}
                                <span>{{match.team1}}</span>
                            </div>
                            <div class="wc-match__score">
                                {{#if match.played}}
                                    <span>{{match.score1}}</span>
                                    <span class="wc-match__dash">&ndash;</span>
                                    <span>{{match.score2}}</span>
                                {{else}}
                                    <span class="wc-match__vs">vs</span>
                                {{/if}}
                            </div>
                            <div class="wc-match__team wc-match__team--right">
                                <span>{{match.team2}}</span>
                                {{#if match.team2Flag}}<img src={{match.team2Flag}} alt="">{{/if}}
                            </div>
                        </div>
                        <div class="wc-match__round">{{match.round}}</div>
                    </li>
                {{/each}}
            </ul>
        </section>
    {{/each}}
</div>
